@import '../abstract/variables.module.scss';

/* Style pour le conteneur de la Terre */
.earthContainer {
    position: relative;
    width: 100%;
    height: 100%; /* Ajustez la hauteur selon vos besoins */
    /* Ajoutez d'autres styles si nécessaire */
  }
  
  .earth {
    position: absolute;
    width: $earthWidth + px; /* Largeur du rond (modifiable selon votre conception) */
    height: $earthWidth + px; /* Hauteur du rond (modifiable selon votre conception) */
    border-radius: 50%; /* Pour obtenir une forme ronde */
    
    /* Utilisation d'une image comme fond */
    background-image: url('../../assets/earthIcon.png');
    background-size: cover; /* Ajuste la taille de l'image pour remplir l'élément */
    background-repeat: no-repeat; /* Empêche la répétition de l'image si elle est plus petite que l'élément */
    bottom: 20px;
}