@import "../../abstract/variables.module.scss";

#typoLogoSmallDevice, #iconLogoSmallDevice, #burgerLogoSmallDevice {
    display: none;
}

#burgerLogoSmallDevice {
    justify-content: flex-end;
}

#menuBigDevices {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* MEDIA QUERIES */
/* DEFAULT */

/* Small devices (phones, $breakpointMD and down) */
@media only screen and (max-width: $breakpointMD) {
    #typoLogoSmallDevice, #iconLogoSmallDevice {
        display: block;
    }

    #burgerLogoSmallDevice {
        display: flex;
    }

    #typoLogoBigDevice, #iconLogoBigDevice, #menuBigDevices {
        display: none;
    }

}

/* Medium devices (portrait tablets and large phones, between $breakpointMD and $breakpointLG) */
@media only screen and (min-width: $breakpointMD) and (max-width: $breakpointLG) {}

/* Large devices (landscape tablets, between $breakpointLG and $breakpointXL) */
@media only screen and (min-width: $breakpointLG) and (max-width: $breakpointXL) {}

/* Extra large devices (laptops/desktops, between $breakpointXL and up) */
@media only screen and (min-width: $breakpointXL) {}